
/*------------------- General Styling */

/* credit to https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/ 
    and https://www.madebymike.com.au/writing/fluid-type-calc-examples/ 
        for font-size: calc(10px + (48 - 10) * ((100vw - 300px) / (1800 - 300)));*/

.align-vertically { /* credit to https://webdevblog.com/css-vertical-align/ */
    display: flex;
    align-items: center;
    justify-content: center;
}

a  {
    background-color: transparent;
    color: #ffffff;
}

.btn-orange {
    background-color: #CC613A;
    border-color: rgb(187, 96, 63);
    color: #ffffff;
}

.btn-blue {
    background-color: #657486;
    border-color: #5c6674;
    color: #ffffff;
}

label {
    margin: 0;
}

 .orange-highlight {
     color: #CC613A;
 }

.extramargin {
    margin-top: 7.5vh;
}

/*------------------- Bootstrap Overrules */

.row {
    margin-right: 0;
    margin-left: 0;
}

#textsection .col-6, .col-sm-3 {
    padding: 0;
}

#textsection .col-4 {
    padding: 0;
}

/*------------------- Hover Styling */

a:hover, #helpbtn:hover, .btn-orange:hover, .btn-blue:hover {
    color: rgb(255, 255, 255, .5);
    text-decoration: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

#brandimage:hover {
    cursor: pointer;
}

.arrowtext:hover {
    cursor: pointer;
    font-weight: bold; 
}

#leftcarouselarrow:hover, #rightcarouselarrow:hover {
    cursor: pointer;
}

/*------------------- Navbar Styling */

nav {
    padding: 1vh;
    background-color: #657486;
    font-family: 'Cairo', sans-serif;
    font-size: 3vh;
    height: 10vh;
}

#brandimage {
    height: 8vh;
}

#helpbtn {
    background-color: transparent;
    border: none;
    height: 8vh;
    color: #ffffff;
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / 1620));
}

.hidden {
    visibility: hidden;
}

.unhidden {
    visibility: visible;
}

/* ------------------- Text Section Styling */

#textsection {
    background-color: #ffffff;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    height: 82.5vh;
}

#topper {
    background-color: #EFEFEF;
    font-size: calc(2vh + (5 - 2) * ((100vw - 300px) / 1620));
    color: #101828;
    height: 4vh;
}

#textsection h1 {
    padding: 5vh;
    margin: 0;
    font-size: calc(5vh + (30 - 5) * ((100vw - 300px) / 1620));
    color: #CC613A;
    font-weight: bold;
}

#textsection p {
    padding: 0 2.5vh 2.5vh;
    margin: 0;
}

#textsection .extrapadding {
    padding-top: 10vh;
}

#textsection .paralarge {
    font-size: calc(2.5vh + (20 - 2.5) * ((100vw - 300px) / 1620));
    color: #101828;
}

#textsection .paramedium {
    font-size: calc(2vh + (15 - 2) * ((100vw - 300px) / 1620));
    color: #000000;
}

#textsection button {
    margin-top: 2.5vh;
    background-color: #657486;
    border: none;
    font-size: calc(2.5vh + (10 - 2.5) * ((100vw - 300px) / 1620));
}

#textsection #imagetext {
    font-size: calc(3.5vh + (26 - 3.5) * ((100vw - 300px) / 1620));
    color: #101828;
    padding: 0 20vw 0 20vw;
}

#textsection .imagefooter {
    font-size: calc(1.5vh + (12 - 1.5) * ((100vw - 300px) / 1620));
}

#lettersquarebox, .letterpickbox {
    padding: 0;
}

#lettersquarebox {
    width: 80vw;
    margin-bottom: 5vh;
}

/* ------------------- more styling in Media Screen responsiveness */
.letterpickbox {
    align-content: stretch;    
    width: 60vw;
}

.lettersquare, .letterpick {
    max-width: 7vh;
    height: 12.5vh;
    padding: 0;
    font-size: calc(5vh + (30 - 5) * ((100vw - 300px) / 1620));
    font-weight: bold;
}

.lettersquare {
    margin: 2vw;
    border-bottom: 4px solid #000000;
    color: #CC613A;
}

.letterpick {
    margin: 0 1vw;
    color: #000000;
}

/* ------------------- Option Form Styling */

#optionform {
    padding-top: 10vh;
    width: 40vw;
    height: 50vh;
    font-size: calc(3vh + (18 - 3) * ((100vw - 300px) / 1620));
}

#optionform input[type=radio] {
    border: 0px;
    width: calc(2.5vh + (15 - 2.5) * ((100vw - 300px) / 1620));
    height: calc(2.5vh + (15 - 2.5) * ((100vw - 300px) / 1620));
}

/* ------------------- Check Form Styling */
/* ------------------- more styling in Media Screen responsiveness */

#checkform {
    width: 70vw;
    height: 40vh;
    font-size: calc(2vh + (15 - 2) * ((100vw - 300px) / 1620));
}

#checkform input[type=checkbox] {
    border: 0px;
    width: calc(2.5vh + (15 - 2.5) * ((100vw - 300px) / 1620));
    height: calc(2.5vh + (15 - 2.5) * ((100vw - 300px) / 1620));
}

#checkform label {
    width: 60vw;
    text-align: left;
}

/* ------------------- Image Styling */

#ohnoimage {
    height: 20vh;
    padding-bottom: 2.5vh;
}

#valueimage {
    width: calc(20vh + (70 - 20) * ((100vw - 300px) / 1620));
    margin-bottom: 5vh;
}

.wastepopupimagecontainer {
    align-content: center;
    padding-bottom: 2.5vh;
}

#wastepopupimage {
    height: 17.5vh;
}

/* ------------------- Arrow Styling */

.arrowtext {
    font-weight: normal;
}

#arrowvalue, #arrowwaste, #arrowmaskvalue, #arrowmaskwaste {
    position: absolute;
    top: 26.5vh;
    height: 33vh;
    border: none;
}

#arrowvalue, #arrowwaste {
    background-color: #CC613A;
    padding: 2vw;
}

#arrowmaskvalue, #arrowmaskwaste {
    background-color: #ffffff;
}

#arrowvalue {
    left:0;
    width: 33vw;
    color: #ffffff;
    font-size: calc(2vh + (10 - 2) * ((100vw - 300px) / 1620));
}

#arrowmaskvalue {
    right: 67vw;
    width: 33vw;
}

#arrowwaste, #arrowmaskwaste {
    left: 67vw;
    width: 33vw;
    color: #ffffff;
    font-size: calc(2vh + (10 - 2) * ((100vw - 300px) / 1620));
}

#leftcarouselarrow, #rightcarouselarrow {
    font-size: 7.5vh;
}

#leftcarouselarrow {    
    color: #eeeeee;
    padding: 0 10vw 0 0;
}

#rightcarouselarrow {
    color: #657486;
    padding: 0 0 0 10vw;
}

#downarrow, #uparrow {
    font-size: calc(5vh + (30 - 5) * ((100vw - 300px) / 1620));
}

#scrolltwo {
    display: none;
}

/* ------------------- Video Styling */

#onettovideo {
    max-height: 30vh;
    max-width: 80vw;
}

#playbutton {
    width: 100px;
    color: #ffffff;
}

/* ------------------- Modal Styling */

#homeModal .btn, #helpModal .btn {
    width: 85px;
    font-size: 14px;    
}

.modal-header {
    color: #CC613A;
    font-size: calc(2.5vh + (10 - 2.5) * ((100vw - 300px) / 1620));
}

.modal-body {
    color: #101828;
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / 1620));
}

.modal-footer {
    color: #101828;
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / 1620));
}

#name, #emailinput, #question {
    width: 100%;
    margin-bottom: 2vh;
}

/* ------------------- Waste pop-up Styling */
/* ------------------- more styling in Media Screen responsiveness */

#wastepopup {
    position: absolute;
    top: 15vh;
    left: 1vw;
    height: 76.5vh;
    width: 98vw;
    background-color: #ffffff;
    border: 1px solid #657486;
    visibility: hidden;
}

/* ------------------- Drag and Drop Styling */
/* ------------------- more styling in Media Screen responsiveness */

.dragboxheader {
    font-size: calc(2vh + (12 - 2) * ((100vw - 300px) / 1620));
}

.dragcontainerouter {
    width: 80vw;
    align-content: center;
}

.dragcontainerleft, .dragcontainermid, .dragcontainerright {
    margin-left: auto;
    margin-right: auto;
}

.dragbox, .dragcard {
    padding: 0;
}

.dragbox {
    background-color: #C4C4C4;
}

.dragcard {
    background-color: rgb(248, 247, 247);
    border: 1px solid #C4C4C4;
    padding: 2px;
    font-size: 2vh;
}

/* ------------------- Footer Styling */

#footer {
    background-color: #EFEFEF;
    font-family: 'Cairo', sans-serif;
    font-size: calc(2.5vh + (10 - 2.5) * ((100vw - 300px) / 1620));
    height: 7.5vh;
}

#footer i {
    color: #657486;
}

#footer a {
    color: #101828;
}

/* ------------------- Media Screen responsiveness */

@media screen and (orientation: portrait) { /* Credit: https://stackoverflow.com/questions/43589507/how-can-you-have-bootstrap-responsiveness-based-on-screen-ratio-instead-of-scree */

    #divleft {
        margin-right: auto;
    }

    #divright {
        margin-left: auto;
    }

    #transportation, 
    #inventory,
    #motion,
    #waiting,
    #overproduction,
    #overprocessing,
    #defects,
    #skills {
        height: 13vh;
        padding: .5vh .5vh 0 .5vh;
    }
    
    #checkform input[type=checkbox] {
        margin-top: 1vh;
    }

    .wastecontainer {
        width: 26vh;
    }

    .wasteimagecontainer {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .dragcontainerouter {
        width: 90vw;
    }

    .dragcontainerleft, .dragcontainermid, .dragcontainerright {
        width: 12vh;
    }

    .dragbox, .dragcard {
        width: 12vh;
        height: 8.5vh;
        margin-bottom: 2vw;
        font-size: 2vh;
    }

}

@media screen and (orientation: landscape){ /* Credit: https://stackoverflow.com/questions/43589507/how-can-you-have-bootstrap-responsiveness-based-on-screen-ratio-instead-of-scree */

    #divleft {
        margin-right: 0;
    }

    #divright {
        margin-left: 0;
    }

    #transportation, 
    #inventory,
    #motion,
    #waiting,
    #overproduction,
    #overprocessing,
    #defects,
    #skills {
        height: 24.5vh;
        padding: .5vh .5vh 0 .5vh;
    }
    
    .wastecontainer {
        width: 100vh;
    }

    .wasteimagecontainer {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .dragcontainerouter {
        width: 75vw;
    }

    .dragcontainerleft, .dragcontainermid, .dragcontainerright {
        width: 30vh;
    }

    .dragbox, .dragcard {
        width: 30vh;
        height: 8vh;
        margin-bottom: .5vw;
        font-size: 3vh;
    }

}

@media screen and (min-width: 768px) {
    #helpbtn {
        font-size: calc(2.5vh + (5 - 2.5) * ((100vw - 768px) / 300));
    }
}

@media screen and (min-width: 1200px) {
    #ohnoimage {
        height: 30vh;
    }
        
    #textsection .paralarge{
        padding: 0 5vw 0 5vw;
    }
        
    #textsection .extrapadding {
        padding-top: 10vh;
    }

    #onettovideo {
        max-height: 30vh;
        max-width: 25vw;
    }

}
