
/*------------------- General Styling */

/* credit to https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/ 
    and https://www.madebymike.com.au/writing/fluid-type-calc-examples/ 
        for font-size: calc(10px + (48 - 10) * ((100vw - 300px) / (1800 - 300)));*/

.align-vertically { /* credit to https://webdevblog.com/css-vertical-align/ */
    display: flex;
    align-items: center;
    justify-content: center;
}

a  {
    background-color: transparent;
    color: #ffffff;
}

.btn-orange {
    background-color: #CC613A;
    border-color: rgb(187, 96, 63);
    color: #ffffff;
}

.btn-blue {
    background-color: #657486;
    border-color: #5c6674;
    color: #ffffff;
}

label {
    margin: 0;
}

/*------------------- Hover Styling */

a:hover, #helpbtn:hover, .btn-orange:hover, .btn-blue:hover {
    color: rgb(255, 255, 255, .5);
    text-decoration: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

/*------------------- Navbar Styling */

nav {
    padding: 1vh;
    background-color: #657486;
    font-family: 'Cairo', sans-serif;
    font-size: 3vh;
    height: 10vh;
}

#brandimage {
    height: 8vh;
}

#helpbtn {
    background-color: transparent;
    border: none;
    height: 8vh;
    color: #ffffff;
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / 1620));
}

/* ------------------- Text Section Styling */

#textsection {
    background-color: #ffffff;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    height: 82.5vh;
}

#topper {
    background-color: #EFEFEF;
    font-size: calc(2vh + (5 - 2) * ((100vw - 300px) / 1620));
    color: #101828;
    height: 4vh;
}

#textsection h1{
    padding: 5vh;
    margin: 0;
    font-size: calc(5vh + (30 - 5) * ((100vw - 300px) / 1620));
    color: #CC613A;
    font-weight: bold;
}

#textsection p{
    padding: 0 2.5vh 2.5vh;
    margin: 0;
    font-size: calc(2.5vh + (20 - 2.5) * ((100vw - 300px) / 1620));
    color: #101828;
}

#textsection button {
    margin-top: 2.5vh;
    background-color: #657486;
    border: none;
    font-size: calc(2.5vh + (10 - 2.5) * ((100vw - 300px) / 1620));
}

/* ------------------- Modal Styling */

#homeModal .btn, #helpModal .btn {
    width: 85px;
    font-size: 14px;    
}

.modal-header {
    color: #CC613A;
    font-size: calc(2.5vh + (10 - 2.5) * ((100vw - 300px) / 1620));
}

.modal-body {
    color: #101828;
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / 1620));
}

.modal-footer {
    color: #101828;
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / 1620));
}

#name, #emailinput, #question {
    width: 100%;
    margin-bottom: 2vh;
}

/* ------------------- Footer Styling */

#footer {
    background-color: #EFEFEF;
    font-family: 'Cairo', sans-serif;
    font-size: calc(2.5vh + (10 - 2.5) * ((100vw - 300px) / 1620));
    color: #101828;
    height: 7.5vh;
}

#footer i {
    color: #657486;
}

/* ------------------- Media Screen responsiveness */

@media screen and (min-width: 768px) {
    #helpbtn {
        font-size: calc(2.5vh + (5 - 2.5) * ((100vw - 768px) / 300));
    }
}